kepler:
  logs:
    buffer_size: 0

services:
  file-watch-service:
    command: ["sh", "-c", "echo FILE_WATCH_START; sleep 300"]
    working_dir: __WATCH_DIR__
    restart:
      policy: always
      watch:
        - "**/*"
