services:
  test:
    build: .
    init: true
    volumes:
      - .:/app
      - cargo-registry:/usr/local/cargo/registry
      - cargo-git:/usr/local/cargo/git
      - target-cache:/app/target
    user: root
    command: sh -c "cargo build --workspace && install target/debug/kepler-exec target/debug/deps/kepler-exec && cargo test --workspace"
    environment:
      - RUST_BACKTRACE=1
      - PATH=/app/target/debug:/usr/local/cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

volumes:
  cargo-registry:
  cargo-git:
  target-cache:
